.attractions__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 480px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desctop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 960px;
    margin: 0;
    padding: 31px 44px;
  }
}

.attractions__label {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: @tablet-width) {
    flex: 0 0 224px;
    margin: 0;
  }
}

