.copyright__link {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0;
  align-self: flex-start;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: @main-color;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  .text-author();
  margin: 0;
  align-self: center;
}

.copyright {
  height: 34px;
  display: flex;
}
