.feedback__enter-name {
  border: o none;
  margin: 24px 0 39px 0;
  padding: 0;
}

.feedback__contact-info {
  margin: 24px 0 34px 0;
  padding: 0;
}

.feedback__impression {
  margin: 24px 0 24px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.feedback__visited-attractions {
  margin: 24px 0 24px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
