.gallery__title {
  .title-h2();
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.gallery__text {
  .text();
  text-align: center;
  margin: 0;
}

.gallery__image {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    padding-top: 24px;

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desctop-width) {
    width: 33.33%;
  }

  &--first {
    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.gallery__image-way {
  object-fit: cover;
  display: block;
  width: 100%;
}

.gallery__photos {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery__photo {
  display: block;
  width: 100%;
  object-fit: cover;
}

.gallery__wrapper-text {
  padding: 41px 0 46px;

  @media (min-width: @tablet-width) {
    padding: 66px 95px;
  }
}
