.image__title {
  .title-h3();
  text-align: left;
  margin: 0;
  margin-bottom: 6px;
  height: 16px;

  @media (min-width: @desctop-width) {
    margin-bottom: 10px;
  }
}

.image__author {
  .text-author();
  margin: 0;
  color: @text-color;

  @media (min-width: @desctop-width) {
    color: #ffffff;
  }
}

.image__like {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-bottom: 25px;
  height: 25px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-right: 20px;
  }
}

.image__desc {
  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desctop-width) {
    background-color: fade(#000000, 30%);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
}

.image__desc-text {
  display: flex;
  flex-direction: column;
  padding: 15px 0 11px;

  @media (min-width: @tablet-width) {
    padding: 22px 0 15px 20px;
  }

  @media (min-width: @desctop-width) {
    padding: 22px 0 20px 24px;
  }
}
