.label-radio {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex: 0 0 280px;
  }

  &--margin {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: @desctop-width) {
      margin-left: 28px;
      margin-right: 28px;
    }
  }
}
