.like__amount {
  .amount();
  margin: 0;
  margin-left: 14px;
}

.like__submit {
  width: 23px;
  height: 21px;
  border: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
  }
}
