.main-header {
  background-color: #ffffff;
}

.main-header__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 56px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 56px;
  }
}

.main-header__logo {
  z-index: 5;
  height: 56px;
  order: 2;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}
