.main-page__title {
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 60%;
  }
}

.main-page {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 19px 85px;

  @media (min-width: @tablet-width) {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 77px 154px 90px;

    &--position {
      background-position-y: 100%;
    }
  }
}

.main-page__img {
  @media (min-width: @tablet-width) {
    width: 59.5%;
    height: 78px;
    text-align: center;
  }
}

