.main-footer__hashtag-text {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

