.main-nav__list {
  min-height: 228px;
  position: relative;
  background-color: @main-color;
  width: 100vw;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  z-index: 7;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: #000000;
    min-height: 56px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: @main-color;
  box-shadow: 0 9px 0 0 @main-color, 0 18px 0 0 @main-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  box-shadow: 0 9px 0 0 fade(@main-color, 60%), 0 18px 0 0 fade(@main-color, 60%);
  background-color: @main-color;
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:hover::before {
  box-shadow: 0 9px 0 0 rgb(129 179 210), 0 18px 0 0 rgb(129 179 210);
  background-color: @main-color;
  opacity: 0.3;
}


.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 8;
  display: block;
  width: 27px;
  height: 27px;
  background-color: @main-color;
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 0;
    width: 27px;
    height: 4px;
    background-color: #ffffff;
    z-index: 6;

    &:hover {
      opacity: 0.6;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &::after {
    transform: rotate(-45deg);

    &:hover {
      opacity: 0.6;
    }
  }
}

.main-nav__shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  z-index: 12;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: flex;
  flex-direction: column;
  position: static;
  min-height: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

