.site-list__item {
  list-style-type: none;
  text-align: center;
  .title-h2();
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  mix-blend-mode: normal;
  margin-top: 17px;
  padding-bottom: 12px;

  &--shadow {
    mix-blend-mode: normal;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 12px;
}
