.slogan__title {
  .title-h2();
  text-align: center;
  margin: 36px 0 24px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0;
  }
}

.slogan__text {
  .text();
  line-height: 21px;
  text-align: center;
  margin: 22px 0 28px;

  @media (min-width: @tablet-width) {
    line-height: 23px;
  }

  @media (min-width: @desctop-width) {
    margin-top: 30px;
  }
}

.slogan__wrapper {
  @media (min-width: @tablet-width) {
    max-width: 435px;
    margin: 0 auto;
    padding: 64px 0 75px 0;
  }

  @media (min-width: @desctop-width) {
    padding: 113px 0 40px 0;
  }
}
