.social__item {
  list-style-type: none;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 33px 0 47px;

  @media (min-width: @tablet-width) {
    margin-left: 97px;
    margin-right: 100px;
    padding: 0;
  }

  @media (min-width: @desctop-width) {
    margin-left: 254px;
    margin-right: 256px;
  }
}

.social__button {
  width: 48px;
  height: 48px;
  background-color: @main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &--vk {
    &::before {
      content: url("../img/vk.svg");
      width: 24px;
      height: 14px;
    }
  }

  &--telegram {
    margin: 0 6px 0 6px;

    &::before {
      content: url("../img/telegram.svg");
      width: 21px;
      height: 18px;
      margin: 0 6px 0 6px;
    }
  }

  &--youtube {
    &::before {
      content: url("../img/youtube.svg");
      width: 20px;
      height: 14px;
    }
  }
}

