.map__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 38px;
  text-align: center;
  margin-bottom: 25px;
}

.map__text {
  .text();
}

.map__search-button {
  width: 284px;
  height: 58px;
}
