.page__body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.button {
  background-color: @main-color;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  width: 284px;
  height: 58px;
  border: none;

  &:hover {
    background-color: #669EC0;
  }
}

.main-page__title {
  margin: 90px 19px 85px 19px;
  display: flex;
  align-items: center;
}

.main-page {
  background-image: url("../img/back-mobile.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;

  &--position {
    background-position-y: 100%;
  }
}

.container {
  padding: 0 18px;
}

// ------------------------------------- CATALOG--------------------------------------

.main__img {
  margin: 52px 45px 67px 45px;
}

.container-catalog {
  padding: 0 20px;
}

// -------------------------------------------  FORM  ----------------------------------------

.container-form {
  padding: 0 20px;
}

.slogan__title {
  .title-h2();
  text-align: center;
  margin: 36px 0 24px 0;
}

.slogan__text {
  .text();
  text-align: center;
  margin-bottom: 28px;
}

