.reasons__title {
  .title-h2();

  &--light {
    color: #ffffff;
  }
}

.reasons__text {
  .text();

  &--light {
    color: #ffffff;
  }
}

.reasons__panel {
  background-color: @main-color;
  padding: 33px 18px 40px 18px;
}

.reasons__list {
  &--gray {
    background-color: #eeeeee;
  }
}

